{% load static %}
<footer class="footer">
    <div class="container footer__inner">
      <div class="footer__brand">
        <img src="{% static 'img/logo.png' %}" alt="로고" class="footer__logo" />
        <span class="footer__brand-text">베이비가이드</span>
      </div>
      <div class="footer__company">회사명: SK네트웍스 Family AI Camp 17기, 4팀 육아복지부</div>
      <div class="footer__address">주소: 서울특별시 금천구 가산디지털1로 25 대륭테크노타운17차, 18층</div>
      <div class="footer__copy">© 2025 BabyGuide. All rights reserved.</div>
    </div>
  </footer>